* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background: #222121;
  color: #fff;
}

canvas {
  border: 1px solid green;
}
video {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.btn-group {
  display: flex;
  column-gap: 1rem;
}

select {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  background-color: #1d1d1d;
  border: none;
  color: white;
  transition: all 100ms;
  text-align: center;

  &:active {
    background-color: #2222225e;
  }

  &:hover {
    background-color: #7070705e;
    cursor: pointer;
  }

  &.white {
    background-color: #acacac;

    color: #171717;
  }

  &.toggle {
    img {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }

  img {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    object-fit: contain;
    object-position: center;
  }
}

.buttons-container {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: center;
}

.frame-container {
  padding: 0.5rem;
  position: relative;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    &:first-child {
      border: 1px solid red;
      z-index: 3;
    }
  }
}

.hide {
  display: none;
}

.zoom {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.video-hide {
  height: 0.1px;
  width: 0.1px;
  position: absolute;
  overflow: hidden;
}

.route-link-list {
  button.active {
    background: #525252;
  }
}
